{% comment %} dit laat zien wat er in je database staat {% endcomment %}
{% comment %} {{ person | json }} {% endcomment %}


{% render 'partials/head.liquid', title: 'Squad page' %}

<main>

    <div class="seizoenen-emojis">
    <a href="/seizoen/Lente">Lente</a>
    <a href="/seizoen/Zomer">Zomer</a>
    <a href="/seizoen/Herfst">Herfst</a>
    <a href="/seizoen/Winter">Winter</a>
  </div>

  <ul>
  {% for person in persons %}
    <li><a href="/student/{{ person.id }}">{{ person.name }}</a></li>
  {% endfor %}
</ul>

</main>

{% render 'partials/foot.liquid', squads: squads %}